<section class="loginnow">

  <div class="login col-lg-4 m-auto shadow-lg">

    <h4>Login</h4>

    <form [formGroup]="frmRegister" (ngSubmit)="RegisterClick(frmRegister.value)">

      <div class="form-group">

        <label for="username">UserName</label>

        <input type="text" class="form-control" formControlName="username" name="username">

      </div>

      <dd class="text-danger" *ngIf="username.touched && username.invalid">

        <span *ngIf="username.errors?.['required']"> username is Required</span>

      </dd>


      <dd class="text-danger" *ngIf="password.touched && password.invalid">

        <span *ngIf="password.errors?.['required']"> password Required</span>

      </dd>

      <div class="form-group">

        <label for="Password1">Password</label>

        <input type="password" class="form-control" formControlName="password" name="Password">

        <button type="submit" [disabled]="frmRegister.invalid" class="btn btn-danger col-lg-12">login</button>
      </div>
    </form>

  </div>

</section>