<app-header></app-header>
<!DOCTYPE html>

<html lang="en">
  <div class="login col-4-m-auto shadow-lg"></div>
<body>
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h1 class="card-title text-center">Add new Book</h1>
                <div class="card-text">
                    <form [formGroup]="bookform" (ngSubmit)="onSubmit(bookform.value)">
                      <div class="form-group">
                            <label for="title">Title</label>
                           <input type="text" class="form-control form-control-sm" formControlName="title" name="title">
                          </div>
                          <dd class="text-danger" *ngIf="title.touched && title.invalid">

                            <span *ngIf="title.errors?.['required']"> title is Required</span>

                          </dd>

                       <div class="form-group">

                            <label for="catagory">Catagory</label>

                            <input type="text" class="form-control form-control-sm" formControlName="catagory" name="catagory">
                        </div>
                        <dd class="text-danger" *ngIf="catagory.touched && catagory.invalid">

                          <span *ngIf="catagory.errors?.['required']"> catagory is Required</span>

                        </dd>
                        <div class="form-group">

                          <label for="price">Price</label>

                          <input type="number" class="form-control form-control-sm" formControlName="price" name="price">

                        </div>
                        <dd class="text-danger" *ngIf="price.touched && price.invalid">

                          <span *ngIf="price.errors?.['required']"> price is Required</span>

                        </dd>
                        <div class="form-group">

                            <label for="author">Author</label>
                            <input type="text" class="form-control form-control-sm"  formControlName="author" name="author">

                        </div>
                        <dd class="text-danger" *ngIf="author.touched && author.invalid">

                          <span *ngIf="author.errors?.['required']"> author is Required</span>

                        </dd>
                        <div class="form-group">

                            <label for="publisher">Publisher</label>

                            <input type="text" class="form-control form-control-sm" formControlName="publisher" name="publisher">

                        </div>
                        <dd class="text-danger" *ngIf="publisher.touched && publisher.invalid">

                          <span *ngIf="publisher.errors?.['required']"> publisher is Required</span>

                        </dd>

                        <dd class="text-danger" *ngIf="publisher.touched && publisher.invalid">

                            <span *ngIf="publisher.errors?.['required']"> <title></title>publisher is Required</span>
                    
                          </dd>

                        <div class="form-group">

                            <label for="publisherDate">Publish Date</label>

                            <input type="date" class="form-control form-control-sm" formControlName="publisherDate" name="publisherDate" >

                        </div>
                        <dd class="text-danger" *ngIf="publisherDate.touched && publisherDate.invalid">

                          <span *ngIf="publisherDate.errors?.['required']"> publisherDate is Required</span>

                        </dd>


                        <dd class="text-danger" *ngIf="publisherDate.touched && publisherDate.invalid">

                            <span *ngIf="publisherDate.errors?.['required']"> <title></title>publisherDate is Required</span>
                    
                          </dd>

                        <div class="form-group">

                            <label for="image">Image</label>

                            <input type="file" class="form-control form-control-sm" formControlName="image" name="image">

                        </div>


                        <div class="form-group">

                            <label for="contents">Contents</label>

                            <textarea class="form-control form-control-sm" formControlName="contents" name="contents" cols="20" rows="5"></textarea>

                        </div>
                        <dd class="text-danger" *ngIf="contents.touched && contents.invalid">

                          <span *ngIf="contents.errors?.['required']"> contents is Required</span>

                        </dd>


                      <button type="submit" [disabled]="bookform.invalid" class="btn btn-primary col-lg-12">Save</button>
                    </form>

                </div>

            </div>

        </div>

    </div>

</body>

</html>

