
<app-header></app-header>
<div class="row justify-content-center mt-3">
    <div class="col-md-5">
      <form>
        <div class="form-group">
          <label for="name">Price</label>
          <input
            type="text"
            class="form-control"
            name="price" [(ngModel)]="price" [disabled]="true"/>

          <label for="name">Payment-Type</label>
          <select class="form-control" name="payment-Type" [(ngModel)]="Bill.paymentMethod" id="payment-Type">
            <option value=null>Payment Type</option>
            <option value="cash">cash</option>
            <option value="card">card</option>
        </select>

        <label *ngIf="Bill.paymentMethod == 'card'" for="name">Card Number</label>
          <input *ngIf="Bill.paymentMethod == 'card'"
            type="text"
            class="form-control"
            name="cardNo" [(ngModel)]="Bill.cardNo" />
        </div>
  &nbsp;

        <div class="form-group">
          <button  class="btn btn-primary btn-block" (click)="payment()">Payment</button>
        </div>
      </form>
    </div>
  </div>
